.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.pokemon-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;

}

.selected {
  border: 2px solid orange;
}

.pokemon-name {
  font-weight: bold;
}

.pokemon-types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  margin-top: 5px;
}

.type {
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 1px 4px;
  display: inline-block;
  margin: 2px;
  font-size: 0.7rem;
}
