.pokemon-grid {
  display: grid;
  grid-gap: 10px;
  gap: 10px;
  position: static;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid gray;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.pokemon-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;

  .delete {
    position: absolute;
    i {
      position: relative;
      top: 61px;
      left: 134px;
    }
  }
}

.selected {
  border: 2px solid orange;
}

.pokemon-name {
  font-weight: bold;
}

.pokemon-types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.type {
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 1px 4px;
  display: inline-block;
  margin: 2px;
  font-size: 0.7rem;
}

.hidden {
  display: none;
}

.vertical {
  position: absolute;
  left: 0;
  top: 25vh;
  background: rgb(100, 238, 118);
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  padding: 10px;
  min-height: 30px;
  min-width: 30px;
  border-radius: 0 10px 10px 0;
}

.collapsed {
  background-color: rgb(3, 233, 95);
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50vh;
}
