<div
  class="pokemon-grid"
  (mouseenter)="toggleComponentVisibility()"
  (mouseleave)="toggleComponentVisibility()"
  [ngClass]="{ collapsed: !isComponentVisible }"
  [class.vertical]="vertical"
  *ngIf="team"
>
  <div class="icon" *ngIf="!isComponentVisible && vertical"><i class="ri-expand-right-fill"></i></div>
  <div
    class="pokemon-card"
    *ngFor="let pk of team.pokemons"
    (click)="selectPokemon(pk)"
    [ngClass]="{
      selected: pk.pokemon.name === pokemonSelected?.pokemon?.name,
      hidden: !isComponentVisible
    }"
  >
    <div class="delete" *ngIf="editable" (click)="onDelete(pk)"><i class="ri-delete-bin-line"></i> </div>
    <div class="pokemon-name">{{ pk.pokemon.internalName | titlecase }}</div>
    <div class="pokemon-types">
      <div class="type">{{ pk.pokemon.type1 }}</div>
      <div class="type" *ngIf="pk.pokemon.type2">
        {{ pk.pokemon.type2 ?? "" }}
      </div>
    </div>
  </div>
</div>
