<div class="pokemon-form" [formGroup]="pokemonForm">
  <div class="form-group basic" formGroupName="basic">
    <div class="row">
      <h2>{{ pokemon.pokemon.name | titlecase }}</h2>
      <div class="sub-group">
        <span
          [style.backgroundColor]="getTypeColor(pokemon.pokemon.type1)"
          [style.color]="getFontColor(pokemon.pokemon.type1)"
          >{{ pokemon.pokemon.type1 | titlecase }}</span
        >
        <span
          *ngIf="pokemon.pokemon.type2"
          [style.backgroundColor]="getTypeColor(pokemon.pokemon.type2)"
          [style.color]="getFontColor(pokemon.pokemon.type2)"
          >{{ pokemon.pokemon.type2 | titlecase }}</span
        >
      </div>
      <div class="sub-group">
        <button (click)="savePokemon()" *ngIf="type === 'Mine'">Save</button>
      </div>
    </div>

    <div class="row">
      <div class="sub-group">
        <label for="level">Nivel:</label>
        <input type="number" id="level" formControlName="level" />
      </div>

      <div class="sub-group">
        <label for="nature">Nature:</label>
        <select id="nature" formControlName="nature">
          <option
            *ngFor="let nature of natures"
            [value]="nature"
            [selected]="nature === pokemonForm.get('basic.nature')!.value"
          >
            {{ nature }}
          </option>
        </select>
      </div>

      <div class="sub-group" *ngIf="pokemon.item">
        <label for="item">Item:</label>
        <input type="text" [value]="pokemon.item" readonly>
      </div>
    </div>

    <div class="row">
      <div class="sub-group">
        <ng-container
          *ngIf="this.pokemon?.ability; else possibleAbilitiesSection"
        >
          <label for="ability">Ability:</label>
          <input
            id="ability"
            formControlName="ability"
            [tooltip]="this.pokemon.ability"
            typeTooltip="ability"
          />
        </ng-container>
        <ng-template #possibleAbilitiesSection>
          <div class="possible-abilities">
            <label for="possibleAbilities">Possible Abilities:</label>
            <div
              *ngFor="let ability of possibleAbilities"
              class="chip"
              [tooltip]="ability"
              typeTooltip="ability"
            >
              {{ ability }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="stats-container" *ngIf="stats" formGroupName="stats">
    <h3>Stats</h3>
    <div class="stat-group">
      <label for="hp">HP:</label>
      <input type="number" id="hp" min="0" max="255" formControlName="hp" />
      <div class="stat-input-group">
        <input type="number" formControlName="ivHP" />
        <input type="number" formControlName="evHP" />
        <select
          formControlName="statChangeHP"
          (change)="onStatModifierChange($event)"
        >
          <option *ngFor="let change of statChanges" [value]="change">
            {{ change }}
          </option>
        </select>
      </div>
    </div>

    <div class="stat-group">
      <label for="attack">Atk:</label>
      <input
        type="number"
        id="attack"
        min="0"
        max="255"
        formControlName="attack"
      />
      <input type="number" formControlName="ivAttack" />
      <input type="number" formControlName="evAttack" />
      <select
        formControlName="statChangeAttack"
        (change)="onStatModifierChange($event)"
      >
        <option *ngFor="let change of statChanges" [value]="change">
          {{ change }}
        </option>
      </select>
    </div>

    <div class="stat-group">
      <label for="defense">Def:</label>
      <input
        type="number"
        id="defense"
        min="0"
        max="255"
        formControlName="defense"
      />
      <input type="number" formControlName="ivDefense" />
      <input type="number" formControlName="evDefense" />
      <select
        formControlName="statChangeDefense"
        (change)="onStatModifierChange($event)"
      >
        <option *ngFor="let change of statChanges" [value]="change">
          {{ change }}
        </option>
      </select>
    </div>

    <div class="stat-group">
      <label for="spAtk">SpAtk:</label>
      <input
        type="number"
        id="spAtk"
        min="0"
        max="255"
        formControlName="specialAttack"
      />
      <input type="number" formControlName="ivSpAttack" />
      <input type="number" formControlName="evSpAttack" />
      <select
        formControlName="statChangeSpAttack"
        (change)="onStatModifierChange($event)"
      >
        <option *ngFor="let change of statChanges" [value]="change">
          {{ change }}
        </option>
      </select>
    </div>

    <div class="stat-group">
      <label for="spDef">SpDef:</label>
      <input
        type="number"
        id="spDef"
        min="0"
        max="255"
        formControlName="specialDefense"
      />
      <input type="number" formControlName="ivSpDefense" />
      <input type="number" formControlName="evSpDefense" />
      <select
        formControlName="statChangeSpDefense"
        (change)="onStatModifierChange($event)"
      >
        <option *ngFor="let change of statChanges" [value]="change">
          {{ change }}
        </option>
      </select>
    </div>

    <div class="stat-group">
      <label for="speed">Speed:</label>
      <input
        type="number"
        id="speed"
        min="0"
        max="255"
        formControlName="speed"
      />
      <input type="number" formControlName="ivSpeed" />
      <input type="number" formControlName="evSpeed" />
      <select
        formControlName="statChangeSpeed"
        (change)="onStatModifierChange($event)"
      >
        <option *ngFor="let change of statChanges" [value]="change">
          {{ change }}
        </option>
      </select>
    </div>
  </div>

  <div class="attacks-container">
    <h3>Ataques</h3>
    <button *ngIf="type !== 'Mine'" (click)="loadAttacks()">
      Load attacks
    </button>
    <div
      class="row"
      formGroupName="attacks"
      *ngFor="let move of pokemon.moves; let i = index"
    >
      <div class="info" [tooltip]="move">i</div>
      <app-input-autocomplete
        [inputControl]="getAttackFormControl(i)"
        [inputType]="'moves'"
        (suggestionSelected)="onSuggestionSelected($event, i)"
      ></app-input-autocomplete>
      <div
        class="damage"
        *ngIf="damage.length > i"
        [ngStyle]="{
          'background-color': getBackgroundColor(damage[i].effectiveness)
        }"
      >
        Damage: {{ damage[i].min }} - {{ damage[i].max }}
      </div>
      <div
        class="damage"
        *ngIf="damage.length > i"
        [ngStyle]="{
          'background-color': getBackgroundColor(damage[i].effectiveness)
        }"
      >
        {{getPerceptualDamage(damage[i])}}
      </div>
    </div>
  </div>
</div>
