<div class="pokemon-form" [formGroup]="pokemonForm">
  <h2>{{ pokemon.pokemon.name | titlecase }}</h2>
  <div class="form-group">
    <label for="level">Nivel:</label>
    <input type="number" id="level" formControlName="level" />
  </div>

  <div class="form-group">
    <label for="nature">Nature:</label>
    <select id="nature" formControlName="nature">
      <option
        *ngFor="let nature of natures"
        [value]="nature"
        [selected]="nature === pokemonForm.get('nature')!.value"
      >
        {{ nature }}
      </option>
    </select>
  </div>

  <div class="stats-container" *ngIf="stats" formGroupName="stats">
    <h3>Stats</h3>
    <div class="stat-group">
      <label for="hp">HP:</label>
      <input type="number" id="hp" min="0" max="255" formControlName="hp" />
      <div class="stat-input-group">
        <input type="number" formControlName="ivHP" />
        <input type="number" formControlName="evHP" />
      </div>
    </div>

    <div class="stat-group">
      <label for="attack">Atk:</label>
      <input
        type="number"
        id="attack"
        min="0"
        max="255"
        formControlName="attack"
      />
      <input type="number" formControlName="ivAttack" />
      <input type="number" formControlName="evAttack" />
    </div>

    <div class="stat-group">
      <label for="defense">Def:</label>
      <input
        type="number"
        id="defense"
        min="0"
        max="255"
        formControlName="defense"
      />
      <input type="number" formControlName="ivDefense" />
      <input type="number" formControlName="evDefense" />
    </div>

    <div class="stat-group">
      <label for="spAtk">SpAtk:</label>
      <input
        type="number"
        id="spAtk"
        min="0"
        max="255"
        formControlName="specialAttack"
      />
      <input type="number" formControlName="ivSpAttack" />
      <input type="number" formControlName="evSpAttack" />
    </div>

    <div class="stat-group">
      <label for="spDef">SpDef:</label>
      <input
        type="number"
        id="spDef"
        min="0"
        max="255"
        formControlName="specialDefense"
      />
      <input type="number" formControlName="ivSpDefense" />
      <input type="number" formControlName="evSpDefense" />
    </div>

    <div class="stat-group">
      <label for="speed">Speed:</label>
      <input
        type="number"
        id="speed"
        min="0"
        max="255"
        formControlName="speed"
      />
      <input type="number" formControlName="ivSpeed" />
      <input type="number" formControlName="evSpeed" />
    </div>
  </div>

  <div class="attacks-container">
    <h3>Ataques</h3>
    <div class="form-group" *ngFor="let move of pokemon.moves; let i = index" >
      <input type="text" [id]="'attack' + (i + 1)" [formControl]="getAttackFormControl(i)" [value]="move.displayName" readonly [tooltip]="move"/>
      <div
        class="damage"
        *ngIf="damage.length > i"
        [ngStyle]="{
          'background-color': getBackgroundColor(damage[i].effectiveness)
        }"
      >
        Damage: {{ damage[i].min }} - {{ damage[i].max }}
      </div>
    </div>
     
  </div>
</div>
