<div class="edit-stats-overlay">
  <h2>Edit Pokémon Stats</h2>
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="general">
      <div class="form-group">
        <label for="level">Level</label>
        <input type="number" formControlName="level">
      </div>
      <div class="form-group">
        <label for="ability">Ability</label>
        <select formControlName="ability">
          <option *ngFor="let option of pokemonName.abilities" [value]="option">{{option | titlecase}}</option>
          <option [value]="pokemonName.hiddenAbility">{{pokemonName.hiddenAbility | titlecase}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nature">Nature</label>
        <select formControlName="nature">
          <option *ngFor="let option of natureOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>
    <div class="evs-ivs">
      <div class="form-group">
        <label for="evs">EVs</label>
        <div class="stat-inputs" formGroupName="evs">
          <div *ngFor="let stat of stats" class="stat-input">
            <label>{{ stat | titlecase}}</label>
            <input type="number" [formControlName]="stat" min="0">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ivs">IVs</label>
        <div class="stat-inputs" formGroupName="ivs">
          <div *ngFor="let stat of stats" class="stat-input">
            <label>{{ stat }}</label>
            <input type="number" [formControlName]="stat" min="0">
          </div>
        </div>
      </div>
    </div>
    <div class="move-set" formGroupName="moveSet">
      <input type="text" formControlName="move1" (input)="showSuggestions($event)">
      <input type="text" formControlName="move2">
      <input type="text" formControlName="move3">
      <input type="text" formControlName="move4">
    </div>
    <div class="button-group">
      <button type="submit">Aceptar</button>
      <button type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
