<nav class="navbar">
  <div class="navbar-title">
    <h1>Wack</h1>
  </div>
  <div class="navbar-links">
    <a routerLink="/pokemon-info" routerLinkActive="active">Pokemon Info</a>
    <a routerLink="/trainer" routerLinkActive="active">Trainer</a>
    <a routerLink="/user" routerLinkActive="active">My Team</a>
    <a routerLink="/battle" routerLinkActive="active">Battle</a>
    <a routerLink="/types" routerLinkActive="active">Types</a>
    <a routerLink="/tests" routerLinkActive="active">Tests</a>
  </div>
</nav>
