<div class="card" *ngIf="pokemon">
  <h2>{{ pokemon.name | titlecase }}</h2>

    <button class="expand-button" (click)="extend()"> + </button>

  <div class="section-1">
    <div class="left">
      <div class="info">
        <div class="item">
          <span class="label">Internal Name:</span>
          <span class="value">{{ pokemon.internalName | titlecase }}</span>
        </div>
        <div class="item">
          <span class="label">Type 1:</span>
          <span class="value">{{ pokemon.type1 | titlecase }}</span>
        </div>
        <div class="item" *ngIf="pokemon.type2">
          <span class="label">Type 2:</span>
          <span class="value">{{ pokemon.type2 | titlecase }}</span>
        </div>
        <div class="item">
          <span class="label">Base Stats:</span>
          <span class="value">{{ pokemon.baseStats.join(", ") }}</span>
        </div>
        <div class="item">
          <span class="label">Abilities:</span>
          <span class="value">{{ pokemon.abilities.join(", ") }}</span>
        </div>
        <div class="item">
          <span class="label">Hidden Ability:</span>
          <span class="value">{{ pokemon.hiddenAbility | titlecase }}</span>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="item" *ngIf="pokemon.evolutions[0].to !== ''">
        <span class="label">Evolutions:</span>
        <table class="evo-table">
          <tr>
            <th>Evolution Name</th>
            <th>Method</th>
            <th>Required Item</th>
          </tr>
          <tr *ngFor="let evo of pokemon.evolutions">
            <td class="value" (click)="lookFor(evo.to)">{{ evo.to }}</td>
            <td class="value">{{ evo.method }}</td>
            <td class="value">{{ evo.parameter }}</td>
          </tr>
        </table>
      </div>
      
    </div>
  </div>
  <div class="collapsed" *ngIf="collapsed">
      <div class="item">
        <span class="label">Moves:</span>
        <table class="moves-table">
          <tr>
            <th>Level</th>
            <th>Name</th>
          </tr>
          <tr *ngFor="let move of pokemon.moves">
            <td>{{ move.level }}</td>
            <td>{{ move.move.name | titlecase }}</td>
          </tr>
        </table>
      </div>
      <div class="item">
        <span class="label">Egg Moves:</span>
        <span class="value">{{ pokemon.eggMoves.join(", ") }}</span>
      </div>

      <div class="resistances" *ngIf="pokemon">
        <app-table-types [type1]="pokemon.type1" [type2]="pokemon.type2"></app-table-types>
      </div>
    </div>
</div>
