<div class="card" *ngIf="pokemon" (click)="extend()">
  <h2>{{ pokemon.name }}</h2>
  <div class="section-1">
    <div class="left">
      <div class="info">
        <div class="item">
          <span class="label">Internal Name:</span>
          <span class="value">{{ pokemon.internalName }}</span>
        </div>
        <div class="item">
          <span class="label">Type 1:</span>
          <span class="value">{{ pokemon.type1 }}</span>
        </div>
        <div class="item" *ngIf="pokemon.type2">
          <span class="label">Type 2:</span>
          <span class="value">{{ pokemon.type2 }}</span>
        </div>
        <div class="item">
          <span class="label">Base Stats:</span>
          <span class="value">{{ pokemon.baseStats.join(", ") }}</span>
        </div>
        <div class="item">
          <span class="label">Abilities:</span>
          <span class="value">{{ pokemon.abilities.join(", ") }}</span>
        </div>
        <div class="item">
          <span class="label">Hidden Ability:</span>
          <span class="value">{{ pokemon.hiddenAbility }}</span>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="item">
        <span class="label">Evolutions:</span>
        <div class="evo" *ngFor="let evo of pokemon.evolutions">
          <span class="value">{{ evo.to }}</span>
          <span class="value">{{ evo.method }} {{ evo.parameter }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="collapsed" *ngIf="collapsed">
      <div class="item">
        <span class="label">Moves:</span>
        <table class="moves-table">
          <tr>
            <th>Level</th>
            <th>Name</th>
          </tr>
          <tr *ngFor="let move of pokemon.moves">
            <td>{{ move.level }}</td>
            <td>{{ move.move }}</td>
          </tr>
        </table>
      </div>
      <div class="item">
        <span class="label">Egg Moves:</span>
        <span class="value">{{ pokemon.eggMoves.join(", ") }}</span>
      </div>

      <div class="resistances" *ngIf="pokemon.weakness">
        <app-table-types [typesWR]="pokemon.weakness"></app-table-types>
      </div>
    </div>
</div>
