main {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;

  .tms-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    
  }

  .team {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .pokemon-team {
      border: 1px solid lightgray;
      background-color: rgb(244, 129, 129);
      padding: 20px;
    }

    .can-learn {
      background-color: rgb(158, 241, 158);
    }
  }
}