<main>
  <div class="tms-container">
    <div class="tm" *ngFor="let tm of tms" (click)="onTMSelected(tm)">{{tm.name}}</div>
  </div>
  <div class="team">
    <div class="pokemon-team" *ngFor="let pk of teamSelected.pokemons" [class.can-learn]="canLearn[pk.pokemon._id]">
      <h2>{{pk.pokemon.internalName}}</h2>
      <div class="base-stat">
        <div class="stat">{{pk.pokemon.baseStats[0]}}</div>
        <div class="stat">{{pk.pokemon.baseStats[1]}}</div>
        <div class="stat">{{pk.pokemon.baseStats[2]}}</div>
        <div class="stat">{{pk.pokemon.baseStats[4]}}</div>
        <div class="stat">{{pk.pokemon.baseStats[5]}}</div>
        <div class="stat">{{pk.pokemon.baseStats[3]}}</div>
      </div>
    </div>
  </div>
</main>