/* Estilo para el contenedor principal */
.mat-form-field {
  position: relative; /* Permite posicionar el panel de sugerencias con respecto al input */
}

/* Estilo para el input */
input {
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: min-content;
  font-size: 0.8rem;
  margin-top: 10px;
}


/* Estilo para cada sugerencia en el panel */
.mat-option {
  cursor: pointer;
  transition: background-color 0.2s;
}

.mat-option:hover {
  background-color: #e0e0e0;
}
