<mat-form-field>
  <label [for]="label">{{label}}</label>
  <input
    type="text"
    [name]="label"
    matInput
    [formControl]="inputControl"
    [matAutocomplete]="auto"
    (focus)="onInputFocus()"
    (keyup.enter)="onClickItem(inputControl.value)"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let suggestion of filteredSuggestions | async"
      [value]="suggestion"
      (click)="onClickItem(suggestion)"
    >
      {{ suggestion }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
