.max-container {
  display: flex;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  .suggestions {
    background-color: #f2f2f2;
    margin: 0 40px;
    border-radius: 10px;
    width: 314px;

    .suggestion {
      text-align: center;
      margin: 3px;
    }
    .suggestion:hover {
      background-color: #c8ebfa;
    }
  }

  small-box {
    width: 100%;
  }

  .box-selector {
    width: 90%;
    display: flex;

    select {
      width: 50%;
      margin: 20px auto;
      text-align: center;
      background-color: #f2f2f2;
    }
  }
}

.right-container {
  padding: 20px;

  .controls {
    display: flex;
    gap: 20px;
    padding: 16px;
  }
  
  .box {
    border: 1px solid gray;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;

    .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 240px);
      gap: 10px;
      justify-content: center;
      justify-self: center;
    }

    .pokemon-box {
      background-color: lightblue;
      border-radius: 5px;
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 0;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"] {
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

select {
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  appearance: none; 
  background-color: white; 
  cursor: pointer;
}

select:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

select option {
  padding: 8px;
  font-size: 16px;
}

.teams-container {
  display: flex; 
  overflow: auto; 
  border: 1px solid green;
  margin: 20px auto;
}

.team {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 100px;
}

.selected {
  border: 2px solid orange;
}

.team-title {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.pokemon-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 5px;
}

.pokemon {
  margin-top: 3px;
}
