<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="left-container">
      <div class="container">
        <div class="input-container">
          <input
            type="text"
            [(ngModel)]="pokemonName"
            placeholder="Nombre del Pokémon"
            (keyup.enter)="searchPokemon()"
          />
          <button (click)="searchPokemon()">Buscar</button>
        </div>
      </div>
      <div class="suggestions" *ngIf="pokemons">
        <div
          class="suggestion"
          *ngFor="let pokemon of pokemons"
          (click)="addToBox($event)"
        >
          {{ pokemon }}
        </div>
      </div>
      <div class="box-selector" mode="over">
        <select name="box-selector" id="box-selector" placeholder="Select a box">
          <option value="">Select a box</option>
          <option value="box.name" *ngFor="let box of boxes">
            {{ box.name }}
          </option>
        </select>
      </div>
      <app-box-small [pokemon]="newPokemon"></app-box-small>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="right-container">
      <div class="controls">
        <div class="sidenav">
          <button (click)="sidenav.toggle()">Sidebar</button>
          <button (click)="isTeamSelectorVisible = !isTeamSelectorVisible">Pokemon selector</button>
        </div>
        <div class="new-team-container">
          <button (click)="showInput()">+</button>
          <input
            *ngIf="inputVisible"
            [(ngModel)]="inputValue"
            (keyup.enter)="onInputEnter()"
          />
        </div>        
      </div>
      <div class="teams-container" *ngIf="teams && isTeamSelectorVisible">
        <div
          class="team"
          *ngFor="let team of teams"
          (click)="selectTeam(team)"
          [ngClass]="{ selected: team.name === selectedTeam.name }"
        >
          <div class="team-title">{{ team.name }}</div>
          <div class="pokemon-container" *ngIf="team.pokemons.length > 0">
            <div class="pokemon" *ngFor="let pk of team.pokemons">
              {{ pk.pokemon.internalName | titlecase }}
            </div>
          </div>
        </div>
      </div>
      <app-team-select
        [team]="selectedTeam"
        [editable]="true"
        (selectionEvent)="onPokemonSelection($event)"
        (deleteEvent)="deletePokemonFromTeam($event)"
        
      ></app-team-select>
      <app-team-analytics [inputTeam]="selectedTeam" [pokemonSelected]="pokemonSelected"></app-team-analytics>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
