.pokemon-box-card-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  position: relative;
}

.pk-name {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.types {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.pk-type {
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  padding: 4px;
  width: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 0.825rem;
}

.pk-attr {
  font-size: 0.825rem;
  font-weight: 500;
}

.pokemon-actions {
  position: absolute;
  top: 0;
  left: 0;
}

.action-button {
  border: none;
  background-color: transparent;
  color: #9c9c9c;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
}

.modify-button {
  position: absolute;
  left: 6px;
}

.delete-button {
  position: absolute;
  right: -222px;
}

.pokemon-box-card-container.small {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  position: relative;

  .sub-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .pk-name {
    font-size: 0.825rem;
    font-weight: normal;
    margin-bottom: 0px;
  }

  .types {
    display: flex;
    gap: 8px;
    margin-left: 5px;
    margin-bottom: 0px;
  }

  .pk-type {
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    padding: 1px;
    width: 47px;
    text-align: center;
    font-weight: normal;
    font-size: 0.625rem;
  }

  .pk-attr {
    font-size: 0.825rem;
    font-weight: 500;
  }

  .pokemon-actions {
    position: static;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    top: 0;
    left: 0;
  }

  .action-button {
    border: none;
    background-color: transparent;
    color: #9c9c9c;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    width: 100%;
  }

  .modify-button {
    position: static;
  }

  .delete-button {
    position: static;
  }

  .add-button {
    position: static;
  }
}
