<div class="pokemon-box-card-container" [ngClass]="{ small: type === 'Small' }">
  <div class="sub-container">
    <div class="pk-name" (click)="openDetails()">
      {{ myPokemon.pokemon.name | titlecase }}
    </div>
    <div class="types">
      <!-- <div class="pk-type">{{myPokemon.pokemon.type1 | uppercase}}</div>
      <div class="pk-type" *ngIf="myPokemon.pokemon.type2">{{myPokemon.pokemon.type2 | uppercase}}</div> -->
      <app-type-tag
        [type]="myPokemon.pokemon.type1"
        [text]="myPokemon.pokemon.type1"
      ></app-type-tag>
      <app-type-tag
        *ngIf="myPokemon.pokemon.type2"
        [type]="myPokemon.pokemon.type2"
        [text]="myPokemon.pokemon.type2"
      ></app-type-tag>
    </div>
    <div class="pk-attr" *ngIf="type !== 'Small'">{{ myPokemon.level }}</div>
    <div class="pk-attr" *ngIf="type !== 'Small'">
      {{ myPokemon.nature | titlecase }}
    </div>
  </div>
  <div class="pokemon-actions">
    <button class="action-button modify-button" (click)="modifyPokemon()">
      <i class="ri-pencil-line"></i>
    </button>
    <button class="action-button delete-button" (click)="deletePokemon()">
      <i class="ri-delete-bin-line"></i>
    </button>
    <button class="action-button add-button" (click)="addPokemon()">
      <i class="ri-add-circle-line"></i>
    </button>
  </div>
</div>
