<div class="myBox" *ngIf="box">
  <label for="myPokemon">My box</label>
  <select name="myPokemon" (change)="pokemonSelected($event)">
    <option value=""></option>
    <option *ngFor="let pokemon of box" [value]="pokemon.pokemon.name">{{pokemon.pokemon.name}}</option>
  </select>
  <label for="search-pokemon"></label>
  <input type="text" name="search-pokemon" [(ngModel)]="pokemonName">
</div>
<div class="rival-box" (change)="rivalBoxSelected($event)">
  <select name="boxes">
    <option value=""></option>
    <option *ngFor="let box of allBoxes; index as i" value="box">{{i}}</option>
  </select>
  <select name="rivalPokemons" *ngIf="rivalPokemons" (change)="pokemonRivalSelected($event)">
    <option value=""></option>
    <option *ngFor="let pk of rivalPokemons.pokemons" [value]="pk.pokemon.internalName">{{pk.pokemon.name}}</option>
  </select>
</div>

<div class="container">
  <app-pokemon-battle [type]="'Mine'"></app-pokemon-battle>
  <app-pokemon-battle [type]="'Rival'"></app-pokemon-battle>
</div>
