.my-box-menu,
.rival-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 20px;
  width: 30vw;

  label {
    text-align: center;
  }

  .rival-box,
  .my-box {
    display: flex;
    flex-direction: column;
  }

  select {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 150px;
    text-align: center;
    margin: 10px 0;
    font-size: 0.9rem;
    height: 25px;
    line-height: 49px;
  }
}

.container {
  display: flex;
  justify-content: space-around;
}
