<div class="container up">
  <div class="my-box-menu" *ngIf="box">
    <div class="my-box">
      <label for="myPokemon">My box</label>
      <select name="myPokemon" (change)="selectPokemon($event)">
        <option value=""></option>
        <option
          *ngFor="let pokemon of box"
          [value]="pokemon.pokemon.internalName"
        >
          {{ pokemon.pokemon.name | titlecase }}
        </option>
      </select>
    </div>
    <!-- <label for="search-pokemon"></label>
    <input type="text" name="search-pokemon" [(ngModel)]="pokemonName"> -->
    <app-team-select
      [team]="teamSelected"
      (selectionEvent)="loadMyPokemon($event)"
      [pokemonSelected]="pokemonSelected"
      [vertical]="true"
    ></app-team-select>
  </div>

  <div class="rival-menu input-box">
    <div class="rival-box">
      <app-input-autocomplete
        label="Trainers"
        (suggestionSelected)="loadTrainer($event)"
      ></app-input-autocomplete>
    </div>
    <div class="rival-box">
      <app-input-autocomplete
        label="Pokemon"
        inputType="pokemon"
        (suggestionSelected)="loadRivalPokemon($event)"
      ></app-input-autocomplete>
    </div>
    <!-- <div class="rival-box">
      <label for="boxes">Trainer</label>
      <select name="boxes" (change)="rivalBoxSelected($event)">
        <option value=""></option>
        <option *ngFor="let box of allBoxes; index as i" value="box">{{box.trainerName ?? (i+'') | titlecase}}</option>
      </select>
    </div> -->

    <div class="rival-box" *ngIf="rivalPokemons">
      <label for="rivalPokemons">Pokemon</label>
      <select name="rivalPokemons" (change)="pokemonRivalSelected($event)">
        <option value=""></option>
        <option
          *ngFor="let pk of rivalPokemons.pokemons"
          [value]="pk.pokemon.internalName"
        >
          {{ pk.pokemon.name | titlecase }}
        </option>
      </select>
    </div>
  </div>
</div>

<div class="container">
  <app-pokemon-battle [type]="'Mine'"></app-pokemon-battle>
  <app-pokemon-battle [type]="'Rival'"></app-pokemon-battle>
</div>
