.my-box-menu, .rival-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 20px;
  width: 30vw;

  label {
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: center;
  }

  .rival-box, .my-box {
    display: flex;
    flex-direction: column;
  }

  select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 150px;
    text-align: center;
  }
}

.container {
  display: flex;
  justify-content: space-around;
}
