<main>
  <div class="moves-container">
    <div class="move-grid" *ngFor="let move of moves" (click)="onMoveSelection(move)">
      <div class="move-prop name">{{move.displayName | titlecase}}</div>
      <div class="move-prop category">{{move.category | titlecase}}</div>
      <div class="move-prop type">{{move.type | titlecase}}</div>
      <div class="move-prop power">{{move.power}}</div>
      <div class="move-prop description">{{move.description | sentenceFormat}}</div>
    </div>
  </div>
  <div class="pokemon-compatible">
    <div class="pokemon" *ngFor="let pk of transformedData">
      <div class="pk-attr name">{{pk.pokemon | titlecase}}</div>
      <div class="pk-attr level">It learns it at level: <strong>{{pk.moves[0].level}}</strong></div>
      <div class="pk-attr encounter" *ngIf="pk.encounter.length > 0; else noEncounter">
        <div class="pk-attr sub">How obtain it?</div>
        <div class="encounters">
          <div class="pk-attr enc" *ngFor="let encounter of pk.encounter">
            <div class="sub-enc">{{encounter.pokemon | titlecase}}</div>
            <div class="sub-enc final" *ngFor="let e of encounter.encounter">{{e}}</div>
          </div>
        </div>
      </div>
      <ng-template #noEncounter>
        <div class="pk-attr sub">It cannot be obtain</div>
      </ng-template>      
    </div>
  </div>
</main>
