.controls {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .add-tm-control, .input-teams {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    label {
      font-size: 1.1rem;
      font-weight: 700;
    }
  }
}

.learnable-tms {
  margin: 20px;
  padding: 20px;

  .tm {
    display: flex;
    gap: 15px;
    margin: 8px;
  }
}


input[type="text"] {
  padding: 8px;
  border: 1px solid lightgray;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
}

button {
  padding: 4px 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

select {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 150px;
  text-align: center;
  margin: 10px 0;
  font-size: 0.9rem;
  height: 25px;
  line-height: 49px;
}