<main>
  <div class="tms-navbar">
    <a routerLink="learnable-tms">Pokemon TMs</a>
    <a routerLink="tms-list">TMs List</a>
    <a routerLink="egg-moves">TMs List</a>
  </div>
  <div class="controls">
    <div class="add-tm-control">
      <label for="tmsInput">Add TM</label>
      <input type="text" name="tmsInput" [(ngModel)]="tmInput" />
      <button (click)="addToBag()">Add TM</button>
    </div>
    <div class="input-teams">
      <label for="teams">Teams</label>
      <select name="teams" id="teams" (change)="selectTeam($event)">
        <option value=""></option>
        <option [value]="team._id" *ngFor="let team of teams">{{team.name}}</option>
      </select>
    </div>
    <div class="input-teams">
      <label for="box">Teams</label>
      <select name="box" id="teams" (change)="selectPokemonFromBox($event)">
        <option value=""></option>
        <option [value]="pk.pokemon.internalName" *ngFor="let pk of box.pokemons">{{pk.pokemon.internalName}}</option>
      </select>
    </div>
  </div>
  <app-team-select
    [team]="team"
    (selectionEvent)="pokemonSelected($event)"
  ></app-team-select>
  <router-outlet></router-outlet>
</main>
