<div class="container">
  <div class="controls">
    <div class="control">
      <mat-slide-toggle (change)="orderBox($event)">Order by level</mat-slide-toggle>
    </div>
    <div class="control">
      <label for="filter">Filter by name</label>
      <input type="text" name="filter" (input)="filterBox($event)">
    </div>
  </div>
  <div class="box" *ngIf="box">
    <div class="box-container">
      <div class="pokemon-box" *ngFor="let pk of box">
        <app-pokemon-box-card
          [myPokemon]="pk"
          type="Small"
          (modify)="modifyPokemon($event)"
          (delete)="deletePokemon($event)"
          (details)="openDetails($event)"
          (add)="addPokemonToTeam($event)"
        ></app-pokemon-box-card>
      </div>
    </div>
  </div>
</div>