/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.no-spinners {
  /* Desactiva los controles en navegadores basados en WebKit */
  -webkit-appearance: none;
  margin: 0; /* Elimina el espacio para los controles */
}

/* Desactiva los controles en navegadores basados en Firefox */
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-autocomplete-panel {
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  max-height: 200px; /* Altura máxima del panel, ajusta según tus necesidades */
  overflow-y: auto; /* Agrega un scroll vertical si hay muchas sugerencias */
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
  display: none
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-infix {
  padding: 0 !important;
  border-top: 0 !important
}

.mat-sort-header-container {
  justify-content: center;
}

.mat-sidenav-container {
  height: 92vh;
}