/* tooltip.component.scss */
/* tooltip.component.scss */
.tooltip-card {
  background-color: #f1f8ff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  max-width: 220px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.tooltip-header {
  margin-bottom: 8px;
  text-align: center;
  font-size: 0.9rem;
  color: #787575;
}

.tooltip-table {
  width: 100%;
  font-size: 13px;
  margin-top: 12px;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
}

.tooltip-table td:first-child {
  font-weight: bold;
  padding-right: 8px;
}

.tooltip-table td:last-child {
  text-align: right;
}