<table>
  <thead>
    <tr>
      <th></th>
      <ng-container *ngFor="let defender of types; let j = index">
        <th
          class="vertical-text"
          [ngClass]="{ 'column-highlight': j === hoveredColumnIndex }"
          (mouseenter)="setHoveredIndexes(-1, j)"
          (mouseleave)="setHoveredIndexes(-1, -1)"
        >
          <span>{{ defender }} </span>
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let attacker of types; let i = index"
      [ngClass]="{ 'row-highlight': i === hoveredRowIndex }"
    >
      <!-- Celda de tipo de ataque -->
      <td>{{ attacker }}</td>
      <td
        *ngFor="let defender of types; let j = index"
        [ngClass]="getCellClass(typeTable[i][j], i, j)"
      ></td>
    </tr>
  </tbody>
</table>
